<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="%PUBLIC_URL%/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta
      name="description"
      content="HTML displayer for dependency file"
    />
    <link rel="apple-touch-icon" href="%PUBLIC_URL%/logo192.png" />
    <title>Dependency App</title>
  </head>
  <body>
    <div id="root"></div>
      {% if dependencies %}
      <table>
        <tbody>
        {% for d in dependencies %}
          <tr><td><a href={{d.Package}}>{{d.Package}}</a></td></tr>
        {% endfor %}
        <tbody>
      </table>
      {% else %}
        <h1>Dependencies</h1>
      {% endif %}
  </body>
</html>
