<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="%PUBLIC_URL%/favicon.ico" />
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta
      name="description"
      content="HTML displayer for dependency file"
    />
    <link rel="apple-touch-icon" href="%PUBLIC_URL%/logo192.png" />
    <title>Dependency App</title>
  </head>
  <body>
    <div id="root"></div>
    <div id=back-button><p><a href="/">back to all packages</a></p></div>
      <div class="content">
        {% if dependency %}
          <h3>{{dependency.Package}}</h3>
          <p>{{dependency.Description}}</p>

        {% if dependency.Depends %}
          <h3>{{dependency.Package}} depends on following packages:</h3>
          <table>
            <tbody>
            {% for d in dependency.Depends %}
              <tr><td><a href={{d}}>{{d}}</a></td></tr>
            {% endfor %}
            <tbody>
          </table>
        {% else %}
          <h3>{{dependency.Package}} has no dependencies.</h3>
        {% endif %}
          {% if dependency.Reverse_dependencies %}
            <h3>Following packages depend from {{dependency.Package}}:</h3>
            <table>
              <tbody>
              {% for r in dependency.Reverse_dependencies %}
                <tr><td><a href={{r}}>{{r}}</a></td></tr>
              {% endfor %}
              </tbody>
            </table>
          {% endif %}
        {% else %}
          <h1>Dependencies</h1>
        {% endif %}
      </div>
  </body>
</html>
